<div id="gridArea"></div>
<script>
    $(document).ready(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read:  {
                    url: "/area"
                },
                update: {
                    url: function(options){
                        return "/area/" + options.models[0].id;
                    },
                    type:"PUT",
                    dataType: "json"
                },
                destroy: {
                    url: function(options){
                        return "/area/" + options.models[0].id;
                    },
                    type:"DELETE",
                    dataType: "json"
                },
                create: {
                    url: "/area",
                    type:"POST",
                    dataType: "json"
                },
                parameterMap: function(options, operation) {
                    if (operation !== "read" && options.models) {
                        if(operation == "create"){
                            delete options.models[0].id;
                            return options.models[0];
                        }else{
                            return options.models[0];
                        }
                    }
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        name: { validation: { required: true } }
                    }
                }
            }
        });

        $("#gridArea").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: 550,
            filterable: {
                mode: "row"
            },
            width:600,
            toolbar: ["create"],
            columns: [
                { field:"name", title: "Bidang" },
                { command: ["edit", "destroy"], title: "&nbsp;", width: "200px" }],
            editable: "popup"
        });
    });
</script>