<style>
    .navbar-default {
        background:url('/images/bg-header.png');
        background-repeat: repeat;
        border-color: #e7e7e7;
    }
    body{
        background:url('/images/background.png');
        background-repeat: repeat;
    }
</style>
<script>
    function loadContent(url){
        $('#content').html("<center>Mohon Tunggu Sebentar . . .</center>");
        $('#content').load(url);
    }
    $(document).ready(function () {
       
        $('#btnLogin').click(function(){
             if($('#txtUsername').val().length==0 || $('#txtPassword').val().length==0){
                alert('Maaf anda harus mengisi nip dan password');
            }else{
                $.ajax({
                url:'/user/authenticate',
                data:{
                    nip:$('#txtUsername').val(),
                    password:$('#txtPassword').val()
                },
                type:'post',
                success:function(response){
                    window.location.href="/usercomplaint/";
                },
                error:function(response){
                    var msg = JSON.parse(response.responseText);
                    alert(msg.error);
                }
            })
            }
            
        })
        
    });
</script>
<nav class="navbar navbar-default nav-on-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" id="lblHeaderId"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><img src="/images/icon-pln.jpg" style="width: 40px; height: 50px;"/></li>
                <li class="active"><a href="javascript:void(0)">Sistem Diklat Terpadu</a></li>
                <li><a href="javascript:loadContent('home/user_training')">Laporan Diklat</a></li>
                <li><a href="javascript:loadContent('home/user_level_training')">Diklat Jabatan</a></li>
                <li><a href="javascript:loadContent('home/user_realitation')">Realisasi Diklat</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Export Excel<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:loadContent('home/export_excel_for_user')">Untuk User</a></li>
                        <li><a href="javascript:loadContent('home/export_excel_for_system')">Untuk System</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div style="padding:6px;"><input type="text" id="txtUsername" placeholder="NIP" class="form-control"/></div>
                </li>
                <li>
                    <div style="padding:6px;"><input type="password" id="txtPassword" placeholder="Password" class="form-control"/></div>
                </li>
                <li>
                    <div style="padding:6px;"><input type="button" id="btnLogin" value="Masuk" class="btn btn-info"/></div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div id="content">
        <center>
            <h3>Selamat Datang pada layanan Sistem Diklat Terpadu</h3>
        </center>
    </div>
</div>