
html{
    font: 75% Arial, Helvetica, sans-serif !important;
}

.k-edit-form-container {
    padding: 10px;
    width: 600px;
}

div.k-edit-field .k-datepicker {
    width: 28.4em;
}
div.k-edit-field .k-textbox {
    width: 28.4em;
}
div.k-edit-field .k-numerictextbox{
    width: 28.4em;
}
div.k-edit-field .k-dropdown{
    width: 28.4em;
}
